footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  height: fit-content;
  z-index: 1;
}

.footer-disclaimer {
  text-align: center;
  font-size: 11px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
}
