@use "globals";

header {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: globals.$header-height;
  z-index: 999;
  display: flex;
  align-items: center;
  font-size: 22px;
  margin: 0px;
}

.header-link {
  margin-top: 0;
  margin-bottom: 0;
}

.header-link:hover {
  all: unset;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.header-button {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  color: globals.$default-text-color;
}
