.IconLink {
  border: 1px solid black;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  width: min-content;
  margin-left: 100px;
}

.IconLink > * {
  margin: 0;
  padding: 0;
  text-align: center;
}

.Icon {
  font-size: 36px;
  width: 36px;
  text-align: center;
}

.IconLink > p {
  font-size: 18px;
  text-align: center;
}
